body {
  margin: 0;
  box-sizing: border-box;
}

.galery-title {
  display: flex;
  justify-content: center;
  font-family: Epilogue;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
}

.card-title {
  font-family: Epilogue;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  margin-top: 24px;
}

.card-subtitle {
  font-family: Epilogue;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  margin-top: 8px;
}

.card-section__first {
  display: flex;
  justify-content: space-around;
}

.card-section__second {
  display: flex;
  justify-content: space-around;
}
